<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tienda.Properties.Settings.TiendaConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BD\Tienda.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>